<div class="mod mod-about">
	<div class="inner">
		<div class="hd">
			<h4 class="h2">About</h4>
		</div>
		<div class="bd">
			<p>
			My name is Yuya Saito, I use studiomohawk as my alias on internet. I am an web designer/front end developer. I currently live in Tokyo, Japan working for internet based media company in Japan. I love what I do.</p>
			<p>
			You may already noticed, English is not my first language so bare with me. I've graduated from University of Nevada, Las Vegas and I majored in print journalism so I try to re-learn how to write in English soon.
			</p>
		</div>
	</div><!-- inner -->
</div><!-- mod -->
