// ==========================================================================
// config
// ==========================================================================

// Syntax Highlighter
coderay               = false

// grid
column-width          = 60px
gutter-width          = 30px
columns               = 10

// text-color
$text-dark             = #1d1f21
$text-fade             = #545a60
$text-light            = #fafafa
$text-red              = #CC092F

// background
$bg-light              = #fafafa
$bg-dark               = #282828

// texture
$texture-light         = t-debut_light
$texture-dark          = t-3pxtile
